@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #444444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(91 33 182 / var(--tw-bg-opacity));
}
html {
  scroll-behavior: smooth;
}
